@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Book.otf'); /* IE9 Compat Modes */
}

.right{
    float: right;
}

.header{
    background-color: #f35d4b;
    margin-bottom: 2em;
}

.header img{
    width: 10%;
}

h1{
    color: #f35d4b;
}

body{
    font-family: Avenir;
}

.photo{
    color: white;
    height: 400px;
    width: 100%;
    vertical-align: center;
    background-color: #f35d4b;
    
}

.tweets{
    padding-top: 5px;
    width: 95%;
    border: none;
    font-family: Avenir;
    height: 95%;
}

.map{
    padding-top: 5px;
    width: 100%;
    border: none;
    font-family: Avenir;
    height: 100%;
}

.insta{
    padding-top: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 380px;
}

a:link .tweets{
    color: green;
}

.icon{
    margin: 5px;
}

.box{
    height: 400px;
}

.outline{
    padding-top: 1em;
    height: 400px;
    text-align: center;
}

.footer{
    color: white;
    background-color: #f35d4b;
    height: 75px;
    
}